<style type="text/css">
  body {
      width: 100%;
      background-color: #121212;
      margin: 0;
      margin-top: 70px;
      padding: 0;
      -webkit-font-smoothing: antialiased;
  }

</style>

</head>
<body class="respond" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="121212" class="bg_color">
<tr>
  <td align="center">
      <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">
          <tr>
              <td align="center" style="color: #cecece; font-size: 24px; font-family: Quicksand, Calibri, sans-serif; font-weight:700;letter-spacing: 3px; line-height: 35px;"
                  class="main-header">

                  <div style="line-height: 35px">

                      <center><img height="100" width="200" src="https://raw.githubusercontent.com/FilipeMoreno/financas-front/images/images/logo.png"></center>

                  </div>
              </td>
          </tr>

          <tr>
              <td height="10" style="font-size: 10px; line-height: 10px;">&nbsp;</td>
          </tr>

          <tr>
              <td align="center">
                  <table border="0" width="120" align="center" cellpadding="0" cellspacing="0" bgcolor="eeeeee">
                      <tr>
                          <td height="2" style="font-size: 2px; line-height: 2px;">&nbsp;</td>
                      </tr>
                  </table>
              </td>
          </tr>

          <tr>
              <td height="20" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
          </tr>

          <tr>
              <td align="center">
                  <table border="0" width="600" align="center" cellpadding="0" cellspacing="0" class="container590">
                      <tr>
                          <td align="center" style="color: #cecece; font-size: 17px; font-family: 'Work Sans', Calibri, sans-serif; line-height: 24px;">
                             <div style="font-size: 32px; line-height: 24px">
                                  Olá, {{nome}}!<br /><br />
            </div>
            <div style="line-height: 24px">
                                  A senha da sua conta foi alterada.<br /><br />

                                  Caso não tenha pedido essa alteração, entre em contato com a gente o mais rápido possível.
                              </div>
                          </td>
                      </tr>
                  </table>
              </td>
          </tr>

          <tr>
              <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
          </tr>

      </table>
  </td>
</tr>

</table>
